* {
    box-sizing: border-box;
}

body {
    background: #F9F9F9;
    font-family: 'Lato', sans-serif;
    
    font-weight: 300;
    font-size: 18px;
    line-height: 138%; /* 24.84px */
    color: #000;
    margin: 0;
    padding: 0;

}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.title {
    font-family: "Merriweather", serif;
    color: var(--333333, #333);
    font-size: 48px;
    font-weight: 900;
    line-height: 144.555%; /* 69.386px */
}

.btn {
    font-family: 'Lato', sans-serif;
    color: var(--White, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138%; /* 24.84px */
    border: none;
    outline: none;
    background: var(--Accent, #005FA3);
    padding: 19px 18px;
    min-width: 270px;
}

.header {
    padding: 22px 0px;

}

.header__wrap,
.header__logo,
.header__info,
.header__box {

    display: flex;
    align-items:center;
    justify-content: space-between;

}

.header__logo {
    gap: 30px;
    color: var(--Accent, #005FA3);
    font-family: Merriweather, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 138.27%; /* 49.777px */
}
.header__info {
    gap: 40px;
    margin-bottom: 22px;
}
.header__box {
    gap: 15px;
}

.header__icon {
    height: 17px;
    display: flex;
    align-items: center;
}

.header__icon img {
    height: 100%;
    object-fit: contain;
}

.header__value {
    display: block;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; 
}

.header__menu ul {
    display: flex;
    gap: 68px;
}

.header__menu ul li a {
    display: block;
    color: var(--Text-color, #222);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    
}

.promo__slide {
    position: relative;
    height: 670px;
    display: flex;
    align-items: center;
}

.promo__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.promo__wrap {
    max-width: 590px;
    position: relative;
    z-index: 10;
    top: -50px;
}

.promo__title {
    color: #FFF;
    margin-bottom: 80px;
}

.promo__slide .wrapper {
    width: 100%;
}

.promo__bottom {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 113px;
    z-index: 11;
}
.promo__nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.promo__nav .swiper-pagination {
    position: relative;
    bottom: 0;
    left: 0;
    width: auto;

}